---
layout: default
---
<style>
  .post-card{
    cursor: pointer;
  }
</style>

<div class="home">
  {%- if page.title -%}
  <h2 class="page-heading uk-text-center">{{ page.title }}</h2>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <div class="uk-grid-small uk-padding-small" uk-grid>
    {%- for post in site.posts -%}
    <div class="post-card uk-card uk-card-default uk-card-body uk-card-hover uk-width-1-1" onclick="window.location.replace('{{ post.url | relative_url }}');">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3 class="uk-card-title">
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      <div class="uk-card-body">
        post content preview
      </div>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      <div class="uk-text-right">
        <small>{{ post.date | date: date_format }}</small>
      </div>
    </div>
    {%- endfor -%}
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>